* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif; }

.no-border-ip {
  border: 0px;
  box-shadow: none !important; }

select, select:hover {
  border-color: transparent !important;
  box-shadow: none !important; }

select:focus {
  box-shadow: 0px 0px 3px 0px #75b2f8 !important;
  border-radius: 4px !important; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.is-border-right {
  border-right: 1px solid #0a0a0a1f !important; }

.pd-0 {
  padding: 0 !important; }

.select select:not([multiple]) {
  padding-right: 5.5em; }

section.nav-header-div {
  position: relative;
  background: #100e1b url("./../images/bg-header.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 780px; }
  section.nav-header-div .navbar.is-transparent {
    background: transparent;
    padding-top: 2rem; }
  section.nav-header-div .header-text {
    margin-bottom: 40px; }
    section.nav-header-div .header-text .header-title {
      font-size: 4.2em;
      font-weight: bold;
      max-width: 830px;
      line-height: 1.2;
      margin: 110px auto 20px; }
  section.nav-header-div .header-filter {
    max-width: 830px;
    margin: 0px auto 20px;
    background: white;
    border-radius: 20px; }
  section.nav-header-div .filter--button {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; }

section.carousel {
  max-width: 1180px;
  margin: -135px auto 0px auto; }
  section.carousel .owl-carousel .owl-nav {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0; }
    section.carousel .owl-carousel .owl-nav .owl-prev, section.carousel .owl-carousel .owl-nav .owl-next {
      font-size: 55px;
      width: 40px;
      outline: 0 !important;
      margin: auto;
      position: absolute;
      height: 270px;
      line-height: 270px; }
    section.carousel .owl-carousel .owl-nav .owl-next {
      right: 0;
      color: white; }
    section.carousel .owl-carousel .owl-nav .owl-prev {
      left: 0;
      color: white; }
  section.carousel .owl-carousel .columns .column {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center; }
    section.carousel .owl-carousel .columns .column.flex-left-div {
      background: #34314c;
      font-size: 18px; }
      section.carousel .owl-carousel .columns .column.flex-left-div p:nth-child(2) {
        color: #c2c2c2; }
      section.carousel .owl-carousel .columns .column.flex-left-div a.button {
        background: transparent;
        color: white;
        margin-top: 20px;
        padding: 15px;
        font-size: 14px; }
    section.carousel .owl-carousel .columns .column.flex-right-div {
      padding-left: 0px; }

.body-content {
  background: url("../images/bg-body.png") fixed center no-repeat; }
  .body-content section.instruction-div {
    padding-top: 290px; }
    .body-content section.instruction-div .columns .left-column {
      padding-right: 35px; }
      .body-content section.instruction-div .columns .left-column h3.title {
        font-size: 36px; }
      .body-content section.instruction-div .columns .left-column .tabs {
        color: red; }
      .body-content section.instruction-div .columns .left-column .button {
        background: #fd6500;
        font-size: 14px;
        padding: 25px;
        transition: all 0.4s ease-in-out;
        border: 0; }
        .body-content section.instruction-div .columns .left-column .button:hover {
          background: #e0340b;
          color: wheat; }
    .body-content section.instruction-div .columns .right-column {
      position: relative; }
      .body-content section.instruction-div .columns .right-column img:nth-child(1) {
        padding-left: 35px;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 10px; }
      .body-content section.instruction-div .columns .right-column img:nth-child(2) {
        position: absolute;
        z-index: 1;
        top: 40px;
        left: 150px; }
    .body-content section.instruction-div .text {
      font-weight: 600;
      padding-top: 400px;
      max-width: 750px;
      margin: 0 auto;
      padding-bottom: 350px; }
      .body-content section.instruction-div .text h3 {
        font-size: 38px;
        line-height: 1.2; }
      .body-content section.instruction-div .text p {
        margin-top: 18px; }
