* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif; }

.no-border-ip {
  border: 0px;
  box-shadow: none !important; }

select, select:hover {
  border-color: transparent !important;
  box-shadow: none !important; }

select:focus {
  box-shadow: 0px 0px 3px 0px #75b2f8 !important;
  border-radius: 4px !important; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.is-fullwidth {
  width: 100%; }

.color-gray {
  color: gray; }

.color-orange {
  color: #e96d46; }

.is-border-right {
  border-right: 1px solid #0a0a0a1f !important; }

.font-bold {
  font-weight: 700; }

.pd-0 {
  padding: 0 !important; }

.pd-lr-0 {
  padding-left: 0;
  padding-right: 0; }

.flex-wrap {
  display: flex;
  flex-wrap: wrap; }

.select select:not([multiple]) {
  padding-right: 5.5em; }

section.nav-header-div {
  position: relative;
  background: #100e1b url("./../images/bg-header.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 780px; }
  section.nav-header-div .navbar.is-transparent {
    background: transparent;
    padding-top: 2rem; }
  section.nav-header-div .header-text {
    margin-bottom: 40px; }
    section.nav-header-div .header-text .header-title {
      font-size: 4.2em;
      font-weight: bold;
      max-width: 830px;
      line-height: 1.2;
      margin: 110px auto 20px; }
  section.nav-header-div .header-filter {
    max-width: 830px;
    margin: 0px auto 20px;
    background: white;
    border-radius: 20px; }
  section.nav-header-div .filter--button {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; }

section.carousel {
  max-width: 1180px;
  margin: -135px auto 0px auto; }
  section.carousel .owl-carousel .owl-nav {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0; }
    section.carousel .owl-carousel .owl-nav .owl-prev, section.carousel .owl-carousel .owl-nav .owl-next {
      font-size: 55px;
      width: 40px;
      outline: 0 !important;
      margin: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    section.carousel .owl-carousel .owl-nav .owl-next {
      right: 0;
      color: white; }
    section.carousel .owl-carousel .owl-nav .owl-prev {
      left: 0;
      color: white; }
  section.carousel .owl-carousel .columns .column {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center; }
    section.carousel .owl-carousel .columns .column.flex-left-div {
      background: #34314c;
      font-size: 18px; }
      section.carousel .owl-carousel .columns .column.flex-left-div p:nth-child(2) {
        color: #c2c2c2; }
      section.carousel .owl-carousel .columns .column.flex-left-div a.button {
        background: transparent;
        color: white;
        margin-top: 20px;
        padding: 15px;
        font-size: 14px; }
    section.carousel .owl-carousel .columns .column.flex-right-div {
      padding-left: 0px; }

.body-content {
  background: url("../images/bg-body.png") fixed center no-repeat; }
  .body-content section.instruction-div {
    padding-top: 290px; }
    .body-content section.instruction-div .columns .left-column {
      padding-right: 35px; }
      .body-content section.instruction-div .columns .left-column h3.title {
        font-size: 36px; }
      .body-content section.instruction-div .columns .left-column .tab {
        padding-bottom: 1.5em; }
        .body-content section.instruction-div .columns .left-column .tab .columns a.step-rounded {
          box-shadow: 3px 0px 20px 0px #e1c6c6;
          display: flex;
          width: 70px;
          height: 70px;
          background: #5ebeff;
          border-radius: 50%;
          float: right;
          color: white;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          position: relative;
          z-index: 2; }
      .body-content section.instruction-div .columns .left-column .tab-content:not(:nth-child(1)) {
        display: none;
        width: 100%; }
      .body-content section.instruction-div .columns .left-column .button {
        background: #fd6500;
        font-size: 14px;
        padding: 25px;
        transition: all 0.4s ease-in-out;
        border: 0; }
        .body-content section.instruction-div .columns .left-column .button:hover {
          background: #e0340b;
          color: wheat; }
    .body-content section.instruction-div .columns .right-column {
      position: relative; }
      .body-content section.instruction-div .columns .right-column img:nth-child(1) {
        padding-left: 35px;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 10px; }
      .body-content section.instruction-div .columns .right-column img:nth-child(2) {
        position: absolute;
        z-index: 1;
        top: 40px;
        left: 150px; }
    .body-content section.instruction-div .text {
      font-weight: 600;
      padding-top: 400px;
      max-width: 750px;
      margin: 0 auto;
      padding-bottom: 350px; }
      .body-content section.instruction-div .text h3 {
        font-size: 38px;
        line-height: 1.2; }
      .body-content section.instruction-div .text p {
        margin-top: 18px; }
  .body-content section.service-div .img-block {
    position: relative;
    max-width: 740px;
    margin: 0 auto; }
    .body-content section.service-div .img-block img {
      position: absolute; }
      .body-content section.service-div .img-block img.img-1 {
        z-index: 4;
        max-width: 350px;
        max-height: 250px; }
      .body-content section.service-div .img-block img.img-2 {
        z-index: 3;
        width: 250px;
        height: 150px;
        top: 20px; }
        .body-content section.service-div .img-block img.img-2:nth-child(even) {
          right: 0; }
        .body-content section.service-div .img-block img.img-2:nth-child(odd) {
          left: 0; }
      .body-content section.service-div .img-block img.img-3 {
        z-index: 2; }
        .body-content section.service-div .img-block img.img-3:nth-child(even) {
          top: -56px;
          right: -34px; }
        .body-content section.service-div .img-block img.img-3:nth-child(odd) {
          left: -60px;
          top: -101px; }
      .body-content section.service-div .img-block img.img-4 {
        z-index: 1;
        right: 0;
        bottom: -48px; }

section.benefit-div {
  padding: 230px 0px 80px 0px;
  background: #ebf3f696; }
  section.benefit-div .columns {
    max-width: 1180px;
    margin: 0 auto; }
    section.benefit-div .columns .column h5 {
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 15px; }
    section.benefit-div .columns .column p {
      color: gray; }

section.current-project {
  background: white;
  padding-bottom: 140px; }
  section.current-project .title-text {
    max-width: 550px;
    padding-bottom: 50px;
    margin: 0 auto; }
    section.current-project .title-text h4 {
      font-weight: bold;
      font-size: 26px;
      padding: 50px 0px 20px 0px; }
    section.current-project .title-text p {
      color: gray;
      font-size: 18; }
  section.current-project .card-img .columns {
    max-width: 1180px;
    margin: 0 auto; }
    section.current-project .card-img .columns img {
      position: relative; }
    section.current-project .card-img .columns .column .price-date.columns {
      border-bottom: 1px solid #79554833; }
      section.current-project .card-img .columns .column .price-date.columns .calendar-picker {
        width: 100%; }
  section.current-project .text {
    padding-top: 50px; }

section.service {
  background: #b7b7b733; }
  section.service .container {
    max-width: 1180px;
    margin: 0 auto; }
    section.service .container .title--info {
      padding: 0.75rem; }

section.service-incentives {
  padding: 50px 0px 100px; }
  section.service-incentives .register {
    max-width: 700px;
    padding: 15px;
    margin: 0 auto; }
    section.service-incentives .register .text h5 {
      line-height: 1.4; }
    section.service-incentives .register .get-email {
      margin-top: 30px;
      grid-template-columns: 70fr 30fr;
      justify-content: center;
      display: grid; }
      section.service-incentives .register .get-email input, section.service-incentives .register .get-email button {
        padding: 20px;
        font-size: 17px;
        transition: all 0.4s ease-in-out;
        border: 0;
        box-shadow: 0px 5px 8px 1px #8080805c; }
        section.service-incentives .register .get-email input:focus, section.service-incentives .register .get-email input:hover, section.service-incentives .register .get-email button:focus, section.service-incentives .register .get-email button:hover {
          border: 0;
          outline: 0;
          box-shadow: 0px 5px 20px 1px #5f5b5b5c; }
      section.service-incentives .register .get-email input {
        background: #f1f1f147;
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px; }
      section.service-incentives .register .get-email button {
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        background: #e96d46;
        cursor: pointer; }

section.near-end-footer {
  background: #e9e6e6; }
  section.near-end-footer .quotes {
    max-width: 1180px;
    padding: 50px 0px 100px;
    margin: 0 auto; }

section.footer {
  background: #1b203ff5;
  padding: 50px 0px 100px; }
  section.footer .all-service {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px 0 15px; }
    section.footer .all-service .column .title {
      font-size: 21px; }
    section.footer .all-service .column p {
      font-size: 14px;
      padding: 7px 0px 7px; }
      section.footer .all-service .column p:not(:last-child) {
        border-bottom: 1px solid #e6e6e633; }
  section.footer .about-me {
    max-width: 1180px;
    margin: 0 auto;
    padding: 30px 15px 0 15px; }
    section.footer .about-me .columns .left-column .columns .logo {
      font-size: 35px; }
