@media (max-width: 768px) {
  .nav-header-div {
    margin-bottom: 135px;
    height: 650px !important; }
    .nav-header-div .navbar.is-transparent {
      padding-top: 0 !important; }
      .nav-header-div .navbar.is-transparent .navbar-brand .navbar-burger {
        color: white; }
      .nav-header-div .navbar.is-transparent .navbar-menu .navbar-item {
        color: #6e3e3e !important; }
        .nav-header-div .navbar.is-transparent .navbar-menu .navbar-item .has-text-white {
          color: #6e3e3e !important; }
    .nav-header-div .header-text .header-title {
      font-size: 2em !important; }
    .nav-header-div .header-text p {
      font-size: 15px !important; }
    .nav-header-div .header-filter {
      box-shadow: 1px 1px 20px 1px #e8d9d833;
      margin: 0px 20px 10px !important; }
      .nav-header-div .header-filter select {
        width: 100%; }
      .nav-header-div .header-filter .select {
        width: 100% !important; }
      .nav-header-div .header-filter .is-border-right {
        border-right: 0 !important; }
      .nav-header-div .header-filter .column .is-10 {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; }
      .nav-header-div .header-filter .column.filter--button {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px; }
  .body-content section.carousel .columns .column.flex-right-div {
    padding: 0; }
  .body-content section.instruction-div {
    padding-top: 0 !important; }
    .body-content section.instruction-div .columns {
      margin: 0 auto; }
      .body-content section.instruction-div .columns .column.left-column {
        padding: 0.75rem; }
        .body-content section.instruction-div .columns .column.left-column h3.title {
          text-align: center;
          font-size: 27px;
          padding-top: 10px; }
      .body-content section.instruction-div .columns .column img:nth-child(1) {
        position: unset !important;
        left: 0px !important;
        padding-left: 0px !important; }
      .body-content section.instruction-div .columns .column img:nth-child(2) {
        display: none; }
    .body-content section.instruction-div .text {
      padding-top: 25px !important;
      margin: 0 22px !important; }
      .body-content section.instruction-div .text h3 {
        font-size: 22px !important; }
  .body-content section.service-div .img-block {
    max-width: 300px !important; }
    .body-content section.service-div .img-block img.img-1 {
      max-width: 230px !important; }
    .body-content section.service-div .img-block img.img-2 {
      max-width: 100px !important;
      max-height: 80px;
      top: 60px !important; }
      .body-content section.service-div .img-block img.img-2.left {
        right: 5px !important; }
      .body-content section.service-div .img-block img.img-2.right {
        left: 5px !important; }
    .body-content section.service-div .img-block img.img-3 {
      max-width: 100px !important; }
      .body-content section.service-div .img-block img.img-3.right {
        left: -20px !important;
        top: -125px !important; }
      .body-content section.service-div .img-block img.img-3.left {
        right: 0 !important; }
    .body-content section.service-div .img-block img.img-4 {
      max-width: 150px !important;
      bottom: 60px !important; } }
